*{
    margin:0;
    box-sizing: border-box;
    
}
.cima{
    background-color: #6276f7;
    display: flex;
    justify-content: space-between;
    height: 90px;
}
.p1{
    display: flex;
    font-size: 6px;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
.p2{
    display: flex;
    font-size: 6px;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
.etn{
    border-radius: 5px;
    padding: 10px 50px;
    margin-left: 100px;
    color: white;
    background-color: #6276f7;
    margin-top: 20px;
}
input{
    width: 300px;
    margin-bottom: 7px;
    border-radius: 4px;
}
.ex5{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 30px;
    border-bottom: 4px solid #cb37ff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
